@inherits ReportBase
    @if (ShowDialog)
    {
        <div class="modal fade show d-block" id="examplemodal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titlelabel">Report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close" @onclick="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @foreach (var ath in Athletes)
                        {
                            <label>@ath.FullName</label><br />
                            @foreach (var appt in ath.Appointments)
                            {
                                <label>Start:</label><br />
                                <label>@appt.Start</label><br />
                                <label>End:</label><br />
                                <label>@appt.End</label><br />
                            }
                            <p>------------</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }



